* {
  box-sizing: border-box;
}
body, html {
  font-size: 1em;
  padding: 0;
  margin: 0;
  background: black;
  font-family: "Lucida Console", Monaco, monospace;
}
body  * {
  background: white;
}
.console-wrap{
  position:absolute;
  top: 0;
  width:100%;
  height:100%;
  background: white;
}
input {
  font-size: 1em;
  font-family: "Lucida Console", Monaco, monospace;
}
#prompt {
  border: none;
  background: none;
  width:100%;
  outline: 0;
}
.tab {
  width: 2em;
  display: inline-block;
}
.prompt-start {
  padding-left: 5px;
  font-size: 1em;
  font-weight: bold;
  float: left;
  width: 30px
}
.output-line .prompt-start{
  position: absolute;
  top: 10px;
  left: 0;
}
#output {
}
.prompt-wrap { 
  border-top: 1px solid #ccc;
}
.output-line {
  border-top: 1px solid #ccc;
  padding: 10px;
  padding-left: 30px;
  width: 100%;
  position: relative;
}
.prompt-div {
  margin-left: 30px;
}
.ui-accordion-header {
  margin: 0;
  background: none;
  border-radius: 0;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
.error { background:red; color: white; font-weight: bold; }

/* GUI Stuff */

.site-title{
  margin-top: 1em;
  font-size: 3em;
  padding-left: 1em;
}

.gui-wrap {
  height: 0;
  position: absolute;
  top: 0;
  width:100%;
  overflow: hidden;
}

.gui-console {
  height: 40%;
  overflow: scroll;
  position:absolute;
  top: 60%;
  border-top: 1px solid #ccc;
}

.gui-open {
  height: 60%;
}

.gui-open .gui-background {
  width: 100%;
  height: 100%;
  font-size: 2em;
  opacity: .1;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}
.gui-background-code {
  width: 100%;
  white-space: pre-line;
}