<div class="content" data-background="{{dist}}" data-json="arschmitz.aboutMe">
	{{title "aboutMe"}}
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 float-box project" {{json "aboutMe.avatar"}}>
			<img class="about-avatar" src="{{aboutMe.avatar}}"/>
		</div>
		<div  {{json "aboutMe.contact"}} class="col-lg-4 col-md-4 col-sm-6 col-xs-12 last-lg last-md float-box project">
			<h2 class="project-name"><span class="bold">Email: </span><a href="mailto:{{aboutMe.contact.email}}">{{aboutMe.contact.email}}</a></h2>
			<h4 class="project-website"><span class="bold">Twitter: </span><a href="http://twitter.com/{{aboutMe.contact.twitter}}">{{aboutMe.contact.twitter}}</a></h4>
			<h4 class="project-github"><span class="bold">Github: </span><a href="https://github.com/{{aboutMe.contact.github}}">{{aboutMe.contact.github}}</a></h4>
			<h4 class="project-api"><span class="bold">IRC: </span>{{aboutMe.contact.irc}}</h4>
			<h4 class="project-issues"><span class="bold">LinkedIn: </span><a href="{{aboutMe.contact.linkedIn}}">{{aboutMe.contact.linkedIn}}</a></h4>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 float-box project" {{json "aboutMe.basic"}}>
			<h2 class="project-name"><span class="bold">Name: </span>{{aboutMe.basic.name}}</h2>
			<h4 class="project-website"><span class="bold">Age: </span>{{aboutMe.basic.age}}</h4>
			<h4 class="project-api"><span class="bold">Profession: </span>{{aboutMe.basic.profession}}</h4>
			<h4 class="project-issues"><span class="bold">Title: </span>{{aboutMe.basic.title}}</h4>
		</div>
	</div>
	<div class="row">
		<div {{json "aboutMe.description"}} class="col-lg-6 col-md-6 col-sm-12 col-xs-12 float-box project">
			<h2 class="talk-description"><span class="bold">Description: </span></h2>
			<h3>{{aboutMe.description}}</h3>
		</div>
		<div {{json "aboutMe.currentPosition"}} class="col-lg-6 col-md-6 col-sm-12 col-xs-12 float-box project">
			<h1 class="project-name"><span class="bold">Organization: </span>{{aboutMe.currentPosition.company}}</h1>
			<h4 class="project-website"><span class="bold">Title: </span>{{aboutMe.currentPosition.title}}</h4>
			<h4 class="project-github"><span class="bold">Time: </span>{{aboutMe.currentPosition.time}}</h4>
			<h4 class="project-api"><span class="bold">Responsibilities: </span></h4>
			<h4><ul>
			{{#each aboutMe.currentPosition.responsibilities}}
				<li>{{this}}</li>
			{{/each}}
			</ul></h4>
		</div>
	</div>
	<div class="row">
		{{#each aboutMe.pastExperience}}
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-box project" {{json "aboutMe.pastExperience[ '" @key "' ]"}}>
				<h1 class="project-name"><span class="bold">Company: </span>{{@key}}</h1>
				<h4 class="project-website"><span class="bold">Title: </span>{{this.title}}</h4>
				<h4 class="project-github"><span class="bold">Time: </span>{{this.time}}</h4>
				<h4 class="project-api"><span class="bold">Responsibilities: </span></h4>
				<ul>
				{{#each this.responsibilities}}
					<li>{{this}}</li>
				{{/each}}
				</ul>
			</div>
		{{/each}}
	</div>
</div>
