<div class="content" data-background="https://code.jquery.com/ui/jquery-ui-git.js">
	{{title "API"}}
	<div class="row">
		<div class="col-xs-12 float-box project">
			<h1>{{API.description}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 float-box project">
			<h3>{{API.instructions}}</h3>
		</div>
	</div>
	<div class="row">
		{{#each API.globalObjects}}
			<div class="col-xs-12 float-box">
				<div class="api-section">
					<h2>window.{{@key}}</h2>
					<h3><span class="bold">Description: </span>{{this.description}}</h3>
				</div>
				<h3 class="api-global-section">
					<div class="row">
					{{#if this.methods}}
						<div class="api-section-heading">
							<h2>Methods: </h2>
						</div>
						{{#each this.methods}}
						<div class="col-xs-12 project float-box">
							<h3><span class="bold">Name: </span><code>{{this.name}}</code></h3>
							<h4><span class="bold">Description: </span>{{this.description}}</h4>
						</div>
						{{/each}}
					{{/if}}
					</div>
					<div class="row">
					{{#if this.methods}}
						<div class="api-section-heading">
							<h2>Properties: </h2>
						</div>
						{{#each this.properties}}
						<div class="col-xs-12 project float-box">
							<h3><span class="bold">Name: </span><code>{{this.name}}</code></h3>
							<h4><span class="bold">Description: </span>{{this.description}}</h4>
						</div>
						{{/each}}
					{{/if}}
					</div>
				</h3>
			</div>
		{{/each}}
	</div>
</div>
