<div class="content" data-background="https://code.jquery.com/ui/jquery-ui-git.js" data-json="arschmitz.community">
	{{title "community"}}
	<div class="row project-row">
	{{#each community}}
		<div href class="col-lg-6 col-md-6 col-sm-12 col-xs-12 float-box project" data-json="arschmitz.community.{{@key}}">
			<div class="row project-row">
				<div class="col-xs-2">
					<img class="community-logo" src="{{this.logo}}">
				</div>
				<div href class="col-xs-10">
					<h2 class="talks-name"><span class="bold">Organization: </span>{{this.organization}}</h2>
				</div>
				<div href class="col-xs-12">
					{{hlink this.website "Website" 3}}
					{{h 3 "Role" this.role}}
					{{#if this.work}}
					<h3 class="talks-title"><span class="bold">Work: </span>
						<ul>
						{{#each this.work}}
							<li>{{this}}</li>
						{{/each}}
						</ul>
					</h3>
					{{/if}}
				</div>
			</div>
		</div>
	{{/each}}
	</div>
</div>
