<div class="content" data-background="{{#if dist}}{{dist}}{{else}}http://code.jquery.com/mobile/git/jquery.mobile-git.js{{/if}}">
	{{title "rants" name}}
	<div class="rant row">
		<div class="col-xs-12 float-box project">
			<h1><span class="bold">Title: </span>{{name}}</h1>
			<h2><span class="bold">Word: </span>{{word}}</h2>
			<h3><span class="bold">Pronunciation: </span>{{pronunciation}}</h3>
			<h3><span class="bold">Part of Speach: </span>{{partOfSpeech}}</h3>
			<h3><span class="bold">Definition: </span></h3>
			<h3>
				<ol>
				{{#each definition}}
					<li>{{this}}</li>
				{{/each}}
				</ol>
			</h3>
		</div>
		<br/>
		<div class="col-xs-12 float-box project">
		{{#each rant}}
			<p>{{this}}</p>
		{{/each}}
		</div>
	</div>
</div>
