<div class="content" data-background="{{dist}}">
	<h1 class="site-title">> <a href data-call="gui.render( 'main' );">arschmitz</a>.<a href data-call="gui.render( 'sideProjects' );">sideProjects</a>.{{repoName}}</h1>
	<div class="row project">
		<div class="col-lg-6  col-md-6 col-sm-12 col-xs-12 float-box">
			<h1 class="project-name"><span class="bold">Name: </span>{{name}}</h1>
			<h4 class="project-website"><span class="bold">Website: </span>{{website}}</h4>
			<h4 class="project-github"><span class="bold">Github: </span>{{github}}</h4>
			<h4 class="project-api"><span class="bold">API: </span>{{api}}</h4>
			<h4 class="project-issues"><span class="bold">Issues: </span>{{issues}}</h4>
			<h4 class="project-irc"><span class="bold">IRC: </span>{{irc}} on freenode</h4>
			<h4 class="project-demos"><span class="bold">Demos: </span>{{demos}}</h4>
		</div>
		<div class="col-lg-6  col-md-6 col-sm-12 col-xs-12 float-box">
			<h3 class="project-description">Description: {{description}}</h3>
			<h3 class="project-role">My Role: {{role}}</h3>
			<h5 class="project-current-work">Current Work: {{currentWork}}</h5>
		</div>
	</div>
</div>
