<div class="content" data-background="{{dist}}">
	{{title "talks" key }}
	<div class="row project">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 float-box">
			<iframe class="video-frame" src="https://www.youtube.com/embed/{{video}}" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 float-box">

			<h1 class="project-name"><span class="bold">Event Name: </span>{{eventName}}</h1>
			<h1 class="project-name"><span class="bold">Title: </span>{{title}}</h1>
			{{hlink website "Website" "4"}}
			{{hlink slides "Slides" "4"}}
		</div>
	</div>
	<div class="row project">
		<div class="col-xs-12 col-sm-12 col-lg-12 float-box">
			<h3 class="talk-description">Description: {{description}}</h3>
		</div>
	</div>
</div>
