<div class="content" data-background="{{dist}}">
	<h1 class="site-title">> <a href data-call="gui.render( 'main' );">arschmitz</a>.<a href data-call="gui.render( 'talks' );">talks</a>.{{key}}</h1>
	<div class="row project">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 float-box">
			<iframe class="video-frame" src="https://www.youtube.com/embed/{{video}}" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 float-box">
			<h1 class="project-name"><span class="bold">Event Name: </span>{{eventName}}</h1>
			<h1 class="project-name"><span class="bold">Title: </span>{{title}}</h1>
			<h4 class="project-website"><span class="bold">Website: </span>{{website}}</h4>
			<h4 class="project-github"><span class="bold">slides: </span>{{slides}}</h4>
		</div>
	</div>
	<div class="row project">
		<div class="col-xs-12 col-sm-12 col-lg-12 float-box">
			<h3 class="talk-description">Description: {{description}}</h3>
		</div>
	</div>
</div>
