/* Basic resets and typography and base styles */
* {
  box-sizing: border-box;
}
body, html {
  font-size: 1em;
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
  font-family: "Lucida Console", Monaco, monospace;
}
body * {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
a,
a:hover,
a:active,
a:visited {
  color: black;
  text-decoration: none;
}
a:hover *,
a:hover {
  text-shadow: 0 0 7px rgba( 0, 127, 255, .5 );
}
input {
  font-size: 1em;
  font-family: "Lucida Console", Monaco, monospace;
}
button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.2 );
  border: 1px solid rgba( 0, 62, 255, .5 );
  background: rgba( 0, 127, 255, .5 );
  font-size: 1.2em;
}
button:hover {
  opacity: .8;
}
button:hover {
  box-shadow: 2px 2px 2px #ccc;
}
button:active {
  opacity: initial;
}
button:active {
  box-shadow: 1px 1px 1px #333;
}

h1 {
  font-size: 1em;
}
h4 {
  font-size: .75em
}
h3 {
  font-size: .9em;
}

.styled-list li{
  background: rgba( 200, 200, 200, .3 );
  border-top: 1px solid #ccc;
}
.styled-list {
  padding-left: 0;
  list-style: none;
  font-size: .6em;
}

/* Flipswitch */
.flipswitch {
  position: relative;
  width: 82px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 50px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 16px;
  padding: 0;
  line-height: 17px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "GUI";
  padding-right: 12px;
  padding-left: 25px;
  background-color: rgba( 0, 127, 255, .5 );
  color: white;
}
.flipswitch-inner:after {
  text-align: right;
  content: "CONSOLE";
  padding-left: 12px;
  padding-right: 7px;
  background-color: rgba( 200, 200, 200, .3 );
  color: black;
}
.flipswitch-switch {
  width: 20px;
  height: 20px;
  margin: 0px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 62px;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}

/* Console and Prompt */
.console-wrap {
  position:absolute;
  top: 0;
  width:100%;
  height:100%;
  background: white;
}
.scroll-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}
#prompt {
  border: none;
  background: none;
  width:100%;
  outline: 0;
}
.prompt-start {
  padding-left: 5px;
  font-size: 1em;
  font-weight: bold;
  float: left;
  width: 30px
}
.prompt-wrap {
  border-top: 1px solid #ccc;
}
.output-line .prompt-start{
  position: absolute;
  top: 10px;
  left: 0;
}
.prompt-div {
  position: relative;
  margin-left: 30px;
}
.output-line {
  border-top: 1px solid #ccc;
  padding: 10px;
  padding-left: 30px;
  width: 100%;
  position: relative;
}
#runPrompt,
.open-console {
  position: absolute;
  bottom: 2px;
  right: 5px;
  font-size: .6em;
}
.open-console {
  display: none;
}
html body .show {
  display: block;
}
.gui-wrap {
  height: 100%;
}
.no-prompt .gui-wrap {
  height: 100%;
}
.tab {
  width: 2em;
  display: inline-block;
}


/* Syntax Highlight*/
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
.error { background:red; color: white; font-weight: bold; }
.warning { background:yellow; color: #333; font-weight: bold; padding: 1em;}

/* General GUI Stuff */
.gui-wrap {
  height: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.gui-console {
  height: 150px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  position:absolute;
  top: calc( 100% - 150px );
  border-top: 1px solid #ccc;
  display: none;
}
.gui-open {
  height: 100%;
}
.gui-background {
  width: 100%;
  height: 100%;
  font-size: .75em;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  opacity: .1;
  z-index: 0;
}
.gui-background-code {
  width: 100%;
  white-space: pre-wrap;
}
.scrollable-content {
  position: relative;
}
.site-title{
  margin-top: 1em;
  font-size: 3.4vw;
  padding-left: .2em;
}
.float-box {
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-left: -1px;
  margin-bottom: .3em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0;
  padding-bottom: 0;
}
.float-box:after {
  content: "";
  width: calc( 100% - 2em );
  margin-left: 1em;
  margin-bottom: 0;
  display: block;
  border: 1px inset #ccc;
  height: 0px;
  position: absolute;
  bottom:0;
  left: 0;
}
.json-box {
  background: rgba( 200, 200, 200, .3 );
  padding: .5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.json-link {
  position: absolute;
  top: .5em;
  right: 1em;
  color: black;
  font-size: 8px;
}
.content > .json-link {
  top: 11px;
  right: 100px;
  position: fixed;
}
.bold {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

/* Menu */
.menu-button-wrap{
  padding: .5em;
  z-index: 1;
}
.menu-button-wrap button {
  width: 100%;
}

/* Projects */
.project-logo {
  height: 50px;
  max-width: 100%;
}
.project .project-logo {
  margin-bottom: 1em;
}
.projects .project-logo {
  margin-top: 2em;
}
.projects-link {
  text-align: center;
}
.issue-avatar {
  max-width: 100%;
  max-height: 100px;
}
.issue-item {
  max-height: 100px;
}

/* Community */
.community-logo {
  width: 100%;
}

/* Help and API */
.api-section,
.api-section-heading {
  background: rgba( 0, 127, 255, .5 );
  margin-left: -1em;
  width: calc( 100% + 2.1em );
  padding: 1%;
  color: white;
}
.api-section-heading {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  margin-left: -.05em;
  width: calc( 100% + 2em );
}
.api-global-section {
  left: .6em;
  position: relative;
}

.api-global-section .row {
  position: relative;
}

/* Effects */
.effect-button {
  margin-bottom: 1em;
}
.ui-effects-transfer {
  border: 2px dotted gray;
}

/* Rants */
.rant {
  padding-left: 5%;
  padding-right: 5%;
}

/* About Me */
.about-avatar {
  position: relative;
  height: 300px;
  left: 50%;
  margin-left: -150px;
}

/* Talks and Side Projects */
.sideProjects-link {
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.sideProjects-title {
  font-size: 1.8em;
  margin-top: .2em;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.talk-description {
  width: 90%;
}
/* Talks */
.talks-name {
  position: static;
  margin-top:;
}
.talks-date {
  position: absolute;
  top: -1.5em;
  left: 1em;
}
.video-frame {
  width: 100%;
  height: 320px;
}

/* Resume */
.resume-contact h4 {
  margin-top: .1em;
  margin-bottom: .1em;
  font-size: .9em;
}
.initials {
  font-size: 5em;
  margin-left: -.2em;
  text-align: center;
  font-weight: bold;
  overflow-wrap: normal;
  text-shadow: 8px 8px 4px #ccc;
}
.first-name {
  font-size: 2em;
  margin-bottom: 0;
  margin-top: .3em;
  padding-bottom: 0;
  text-shadow: 3px 3px 2px #888;
}
.last-name {
  font-size:  2em;
  margin-top:  0;
  margin-bottom: 0;
  padding:  0;
  color: #888;
  text-shadow: 3px 3px 2px #333;
}
.inactive {
  color: #ccc;
}
.meter h4 {
  margin-top: .2em;
  margin-bottom: .2em;
}
.meter .meter-level {
  font-size: 1.7em;
  line-height: .9em;
}
.meter div:last-child h4 {
  text-align: right;
}
.resume .year {
  font-weight: bold;,
  text-shadow: 3px 3px 1px #333;
  padding: .5em;
  background: rgba( 175, 175, 175, .5 );
}
.resume .section-heading {
  background: rgba( 200, 200, 200, .3 );
  padding: 1em;
}
.resume .talks {
  margin-left: -2px;
}
.resume-job-box h5,
.resume-job-box h4,
.resume-job-box h3 {
  margin-top: .5em;
  margin-bottom: .5em;
}

/* Media Queries */
/* sm */
@media only screen and (min-width: 48em) {
  .project-logo-label {
    font-size: .75em;
  }
  .project-logo {
    height: 75px;
  }
  h1 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1em;
  }
  h4 {
    font-size: .9em;
  }
  .gui-background {
    font-size: 1.25em;
  }
  .gui-open {
    height: calc( 100% - 150px );
  }
  .gui-console {
    display: block;
  }
  .no-prompt .console-wrap {
    display: none;
  }
  .no-prompt .open-console {
    display: block;
  }
}

.prompt-switch {
  position: fixed;
  top: 5px;
  right: 50px;
}
.prompt-switch {
  right: 5px;
}
/* md */
@media only screen and (min-width: 62em) {
  h1 {
    font-size: 2em;
  }
  h4 {
    font-size: 1em;
  }
  h3 {
    font-size: 1.17em;
  }
  .initials {
    font-size: 7em;
    margin-left: -.1em;
  }
  .project-logo {
    height: 100px
  }
  .first-name {
    font-size: 4em
  }
  .last-name {
    font-size: 3em
  }
  .resume-contact h4 {
    margin-top: .7em;
    margin-bottom: .7em;
  }
  .project-logo-label {
    font-size: .95em;
  }
  .resume .work-history {
    flex-basis: calc( 58.333% - 1px );
    max-width: calc( 58.333% - 1px );
  }
  .gui-background {
    font-size: 1.6em;
  }
  .gui-console {
    display: block;
  }
  .gui-open {
    height: calc( 100% - 150px );
  }
  .no-prompt .console-wrap {
    display: none;
  }
  .no-prompt .open-console {
    display: block;
  }
}

/* lg */
@media only screen and (min-width: 75em) {
  .col-lg-2 {
    max-width: 16.666%;
  }
  .initials {
    font-size: 9em;
  }
  .first-name {
    font-size: 4em
  }
  .last-name {
    font-size: 3em
  }
  .resume .work-history {
    flex-basis: calc( 58.333% - 1px );
    max-width: calc( 58.333% - 1px );
  }
  .gui-background {
    font-size: 2em;
  }
  .gui-console {
    display: block;
  }
  .no-prompt .console-wrap {
    display: none;
  }
  .no-prompt .open-console {
    display: block;
  }
}
