* {
  box-sizing: border-box;
}

body, html {
  font-size: 1em;
  padding: 0;
  margin: 0;
  *background: black;
  font-family: "Lucida Console", Monaco, monospace;
}

body  * {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

a, a:hover, a:active, a:visited {
  color: black;
  text-decoration: none;
}

.console-wrap{
  position:absolute;
  top: 0;
  width:100%;
  height:100%;
  background: white;
}
input {
  font-size: 1em;
  font-family: "Lucida Console", Monaco, monospace;
}
#prompt {
  border: none;
  background: none;
  width:100%;
  outline: 0;
}
.tab {
  width: 2em;
  display: inline-block;
}
.prompt-start {
  padding-left: 5px;
  font-size: 1em;
  font-weight: bold;
  float: left;
  width: 30px
}
.output-line .prompt-start{
  position: absolute;
  top: 10px;
  left: 0;
}
#output {
}
.prompt-wrap { 
  border-top: 1px solid #ccc;
}
.output-line {
  border-top: 1px solid #ccc;
  padding: 10px;
  padding-left: 30px;
  width: 100%;
  position: relative;
}
.prompt-div {
  margin-left: 30px;
}
.ui-accordion-header {
  margin: 0;
  background: none;
  border-radius: 0;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
.error { background:red; color: white; font-weight: bold; }

/* GUI Stuff */

.scrollable-content {
  position: relative;
}

.site-title{
  margin-top: 1em;
  font-size: 1.5em;
  padding-left: .2em;
}

.gui-wrap {
  height: 0;
  position: absolute;
  top: 0;
  width:100%;
  padding: 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.gui-console {
  height: 20%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position:absolute;
  top: 80%;
  border-top: 1px solid #ccc;
}

.gui-open {
  height: 80%;
}

.gui-background {
  width: 100%;
  height: 100%;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  opacity: .1;
  z-index: 0;
}

.gui-background-code {
  width: 100%;
  white-space: pre-wrap;
}

button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.2 );
  border: 1px solid rgba( 0, 62, 255, .5 );
  background: rgba( 0, 127, 255, .5 );
  font-size: 1.2em;
}

.menu-button-wrap{
  padding: .5em;
  z-index: 1;
}

.menu-button-wrap button {
  width: 100%;
}

.row {
  z-index: 1;
}

button:hover {
  opacity: .8;
}

button:hover {
  box-shadow: 2px 2px 2px #ccc;
}

button:active {
  opacity: initial;
}
button:active {
  box-shadow: 1px 1px 1px #333;
}

.project-box-wrap {
  padding: 1em;
}

.project-box {
  width: 50%;
  height: 200px;
  border-radius: 5px;
  padding: 1em;
  position: relative;
  margin-left: -25%;
  left: 50%;
}

.projects-logo {
  height: 100px;
  max-width: 100%;
  margin-top: 2em;
}

.project-row {
  padding-bottom: 1em;
}

.projects-title,
.sideProjects-title,
.talks-name {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 90%;
  left: 0;
  height: 86px;
  text-shadow: 2px 2px #ccc;
}

.community-logo {
  width: 90%;
  margin-left: 33%;
}

.talks-name {
  position: static;
}

a:hover *,
a:hover {
  text-shadow: 0 0 7px rgba( 0, 127, 255, .5 );
}

.video-frame {
  width: 90%;
  height: 320px;
}

.talks-name,
.sideProjects-title {
  font-size: 2em;
}

.projects-link hr {
  position:absolute;
  bottom: 0;
  width: 90%;
  left: 5%;
}

a:visited hr {
  color: #ccc;
}

.float-box {
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-left: -1px;
  margin-bottom: .3em;
}

.project-logo-label {
  display: inline-block;
  vertical-align: top;
}

.project-logo {
  height: 100px;
}


.project h1,
.project h2,
.project h3,
.project h4,
.project h5,
.project iframe,
.project input,
.project select,
.project p {
  margin-left: 5%;
}

.effect-button {
  margin-bottom: 1em;
}

.projects-link {
  height: 275px;
  text-align: center;
}

.rant {
  padding-left: 5%;
  padding-right: 5%;
}

.float-box:after {
  content: "";
  width: 90%;
  display: block;
  margin-left: 5%;
  border: 1px inset #ccc;
  height: 0px;
  position: absolute;
  bottom:0;
  left: 0;
}

.about-avatar {
  position: relative;
  height: 300px;
  left: 50%;
  margin-left: -150px;
}

.ui-effects-transfer { border: 2px dotted gray; }

.talks-link,
.sideProjects-link {
  height: 200px;
  text-align: center;
}

.talk-description {
  width: 90%;
}

.bold {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

@media only screen and (min-width: 62em) {
  .site-title {
    font-size: 2em;
  }
}

@media only screen and (min-width: 75em) {
  .site-title {
    font-size: 3em;
  }
  .col-lg-2 {
    max-width: 16.666%;
  }
}

