.timeline-yellow {
	background-color: #eac47d!important;
}
.timeline-orange {
	background-color: #ff6702!important;
}
.timeline-blue {
	background-color: #a5cccb!important;
}
.timeline-salmon {
	background-color: #f66c62!important;
}
.timeline-gray {
	background-color: #8a857f!important;
}
.timeline-lightgray {
	background-color: #d1ccc6!important;
}
.timeline-green {
	background-color: #8bc661!important;
}
.timeline-title-img.ss-circle {
	width: 150px;
	height: 150px;
	display: inline-block;
}
.timeline-title {
	font-size: 48px;
	color: #f66c62;
}
.timeline {
	line-height: normal;
}
.timeline-row-outline {
	border: 1px dashed #ccc;
}
.timeline-hover {
	box-shadow: 10px 10px 9px #ccc;
}
h2.ss-subtitle{
    padding: 10px 10px 40px;
    font-size: 52px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.8);
	position: relative;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
h2.ss-subtitle:before{
	width: 4px;
	height: 40px;
	background: rgba(17,17,22,0.8);
	content: '';
	position: absolute;
	right: 75%;
	margin-right: -4px;
	bottom: -4px;
	-moz-border-radius: 2px 2px 0px 0px;
	-webkit-border-radius: 2px 2px 0px 0px;
	border-radius: 2px 2px 0px 0px;
}
h2.ss-subtitle:after{
	width: 25%;
	height: 0px;
	border-bottom: 4px dotted rgba(17,17,22,0.8);
	content: '';
	position: absolute;
	right: 50%;
	margin-right: -1px;
	bottom: -4px;
}
.sticky-parent .sticky-wrapper {
	height: 50px !important;
	margin-top: -65px;
}
.ss-links{
	position: absolute;
	z-index: 100;
}
.stuck {
	position: fixed;
	margin-top: 0;
	top: 0;
	left: 0px;
}
.ss-links a{
	background: rgba(0,0,0,0.2);
	font-size: 10px;
	width: 27px;
	height: 27px;
	display:block;
	float: left;
	clear: both;
	font-weight: bold;
	line-height: 27px;
	margin: 5px;
	border-radius: 50%;
	display: block;
	text-align: center;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	-ms-transition: background 0.2s linear;
	transition: background 0.2s linear;
}
.ss-links a:hover{
	background: rgba(0,0,0,0.4);
}
.ss-container{
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
	overflow: hidden;
	margin-top: -27px;
	padding-bottom: 500px;
}
.ss-container h2{
    font-size: 40px;
    text-transform: uppercase;
    color: rgba(78,255,123,0.9);
	text-shadow: 0px 1px 1px #333;
	padding: 20px 0px;
}
.ss-container:before{
    position: absolute;
    width: 4px;
    background: rgba(17,17,22,0.8);
    top: 0px;
    left: 50%;
	margin-left: -2px;
    content: '';
    height: 100%;
}
.ss-row{
    width: 100%;
    clear: both;
    float: left;
    position: relative;
    padding: 30px 0;
}
.ss-left, .ss-right{
    float: left;
    width: 50%;
    position: relative;
}
.ss-right{
    padding-left: 2%;
}
.ss-left{
    text-align: right;
    float: left;
    padding-right: 2%;
}
.ss-circle{
    border-radius: 50%;
    overflow: hidden;
    display: block;
    text-indent: -9000px;
    text-align: left;
    -webkit-box-shadow: 
		0px 2px 5px rgba(0,0,0,0.7) inset, 
		0px 0px 0px 12px rgba(61,64,85,0.3);
    -moz-box-shadow: 
		0px 2px 5px rgba(0,0,0,0.7) inset, 
		0px 0px 0px 12px rgba(61,64,85,0.3);
    box-shadow: 
		0px 2px 5px rgba(0,0,0,0.7) inset, 
		0px 0px 0px 12px rgba(61,64,85,0.3);
	background-size: cover;
	background-color: #f0f0f0;
	background-repeat: no-repeat;
	background-position: center center;
	position: static;
}
.ss-small .ss-circle{
	width: 80px;
	height: 80px;
}
.ss-medium .ss-circle{
	width: 110px;
	height: 110px;
}
.ss-large .ss-circle{
	width: 140px;
	height: 140px;
}
.ss-circle-deco:before{
	width: 29%;
	height: 0px;
	border-bottom: 5px dotted #ddd;
	border-bottom: 5px dotted rgba(17, 17, 22, 0.3);
	-webkit-box-shadow: 0px 1px 1px #fff;
	-moz-box-shadow: 0px 1px 1px #fff;
	box-shadow: 0px 1px 1px #fff;
	position: absolute;
	top: 50%;
	content: '';
	margin-top: -3px;
}
.ss-circle-deco:after{
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -10px;
}
.ss-left .ss-circle-deco:before{
    right: 2%;   
}
.ss-right .ss-circle-deco:before{
    left: 2%;   
}
.ss-left .ss-circle-deco:after{
	right: 0;
	border-right: 10px solid rgba(17,17,22,0.8);
}
.ss-right .ss-circle-deco:after{
	left: 0;
	border-left: 10px solid rgba(17,17,22,0.8);
}
.ss-left .ss-circle{
    float: right;
    margin-right: 18%;
}
.ss-right .ss-circle{
    float: left;
    margin-left: 18%;
}
.ss-container h3{
    margin-top: 34px;
    min-height: 150px;
	padding: 10px 15px;
	background: rgba(26, 27, 33, 0.6);
	text-shadow: 1px 1px 1px rgba(26, 27, 33, 0.8)
}
.ss-container .ss-medium h3{
	margin-top: 82px;
}
.ss-container .ss-large h3{
	margin-top: 133px;
}
.ss-container .ss-left h3{
	border-right: 5px solid rgba(164,166,181,0.8);
}
.ss-container .ss-right h3{
	border-left: 5px solid rgba(164,166,181,0.8);
}
.ss-container h3>span{
    color: rgba(255,255,255,0.8);
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
}
.ss-container h3 a{
    font-size: 18px;
    color: rgba(255,255,255,0.9);
    display: block;
}
.ss-container h3 a:hover{
	color: rgba(255,255,255,1);
}
.container{
    width: 100%;
    position: relative;
}
.clr{
    clear: both;
}
code.hljs {
	text-align: left;
	text-shadow: none;
	padding: 1em;
	padding-left: 2em;
}
.timeline h1{
    font-size: 24px;
    position:relative;
    font-weight: 400;
    padding: 30px 5px 10px 5px;
	margin: 0px 15px;
	color: rgba(153,157,181,0.6);
	text-shadow: 0px 1px 1px #fff;
	border-bottom: 1px solid rgba(17,17,22,0.1);
}
/* Header Style */
.timeline .header{
    font-family:'Arial Narrow', Arial, sans-serif;
    line-height: 24px;
    font-size: 11px;
    background: #000;
    opacity: 0.9;
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    -moz-box-shadow: 1px 0px 2px #000;
    -webkit-box-shadow: 1px 0px 2px #000;
    box-shadow: 1px 0px 2px #000;
}
.timeline .header a{
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #ddd;
    display: block;
    float: left;
}
.timeline .header a:hover{
    color: #fff;
}
.timeline .header span.right{
    float: right;
}
.timeline .header span.right a{
    float: none;
    display: inline;
}
.timeline .demos{
    position:relative;
    z-index: 1000;
    text-align:center;
	float: right;
	padding: 10px;
}
.timeline .demos a{
    display: inline-block;
    padding: 4px 6px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
	font-family: Arial;
    font-size: 11px;
	-webkit-font-smoothing:antialiased;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.timeline .demos :hover{
    color: #fff;
    background: #c90047;
}
.timeline .demos .current-demo,
.timeline .demos .current-demo:hover{
    font-weight: bold;
    background: #c90047;
    color: #fff;
	cursor: default;
}
.timeline .gui-wrap {
	padding: 0;
}
.timeline .sticky-parent {
	height: 100px;
	position: absolute;
}
.timeline .dialog-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba( 100, 100, 100, .9 );
	display: none;
	z-index: 999999;
}
.timeline .dialog-wrap.resizing {
	background: none;
}
.timeline .dialog {
	width: 80%;
	left: 50%;
	margin-left: -40%;
	top: 1em;
	font-size: .9em;
	line-height: 1.5em;
	box-shadow: 16px 16px 8px #333;
	background: #fff;
	color: #333;
	padding: 2em;
	position: absolute;
	max-height: calc( 100% - 2em );
	overflow: hidden;
	text-shadow: 1px 1px 1px rgba(26, 27, 33, 0.8);
	color: white;
	-webkit-overflow-scrolling: touch;
}
.timeline .dialog p {
	text-shadow: none;
}
.timeline .dialog-wrap.dialog-open {
	display: block;
}
/* sm */
@media only screen and (min-width: 48em) {
	.ss-small .ss-circle{
		width: 100px;
		height: 100px;
	}
	.ss-medium .ss-circle{
		width: 150px;
		height: 150px;
	}
	.ss-large .ss-circle{
		width: 200px;
		height: 200px;
	}
}

/* md */
@media only screen and (min-width: 62em) {
	.ss-small .ss-circle{
		width: 100px;
		height: 100px;
	}
	.ss-medium .ss-circle{
		width: 200px;
		height: 200px;
	}
	.ss-large .ss-circle{
		width: 300px;
		height: 300px;
	}
	.ss-left .ss-circle{
	    float: right;
	    margin-right: 30%;
	}
	.ss-right .ss-circle{
	    float: left;
	    margin-left: 30%;
	}
}

/* lg */
@media only screen and (min-width: 75em) {
	.ss-small .ss-circle{
		width: 100px;
		height: 100px;
	}
	.ss-medium .ss-circle{
		width: 200px;
		height: 200px;
	}
	.ss-large .ss-circle{
		width: 300px;
		height: 300px;
	}
}